.container-product{

    width: 200px;
    height: 400px;
    background-color: white;
}

.text-product{
    font-size: 14px;
}

.container-product-image{
   height: 200px;
}

.container-product-text{
    height: 180px;
    margin: 10px;
    border-radius: 10PX;
    background-color:#eceff1;
}